.home-signup {
    position: relative;
    color: white;
    background-image: url('../images/background.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}

.home-signup::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.35);
    z-index: 1;
}

.signup-header {
    margin-top: 50px;
    color: white;
    margin-bottom: 2rem;
    text-align: center;
    position: relative;
    z-index: 2;
}

.form-container {
    position: relative;
    z-index: 2;
    margin-top: 50px;
    background: rgba(255, 255, 255, 0.9);
    padding: 2rem;
    border-radius: 0.5rem;
    border: 1px solid rgba(255, 255, 255, 0.25);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    width: 100%;
    max-width: 600px;
    margin-bottom: 2rem;
}

.header {
    color: white;
    margin-bottom: 1.5rem;
    text-align: center;
}

.form-container .form-control {
    background: rgba(0, 0, 0, 0.2);
    border: 1px solid rgba(255, 255, 255, 0.25);
    color: dimgrey;
    margin-bottom: 1rem;
}

.form-container .form-control::placeholder {
    color: darkgrey;
}

.form-container .btn-primary {
    background-color: whitesmoke;
    border-color: #333;
    color: black;
    font-weight: bold;
    letter-spacing: 0.05rem;
}

@media (min-width: 768px) {
    .form-container .row .col-md-6 {
        padding-right: 0.5rem;
        padding-left: 0.5rem;
    }
}

.button-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}

.signup-card {

}

.gender-dropdown {
    background-color: black;
    color: white;
    border: 1px solid white;
}

.gender-dropdown option {
    background-color: black;
    color: white;
}

.gender-dropdown:-moz-focusring {
    color: transparent;
    text-shadow: 0 0 0 white;
}

.gender-dropdown::-ms-expand {
    display: none;
}

.gender-dropdown:focus {
    outline: none;
    box-shadow: 0 0 0 0.25rem rgba(255, 255, 255, 0.25);
}

.gender-dropdown:focus,
.gender-dropdown:active {
    background-color: black;
    color: white;
}