.workouts-header {
    color: antiquewhite;
}

.user-workout-details-exercise {
    color: #12a300;
    font-size: 20px;
    padding-top: 20px;
    padding-bottom: 10px;
}

.user-login-title{
    margin-bottom: 20px;
    color: #499e99;
    font-size: xx-large;
}

.workout-feedback {
    background-color: #c8cbc8;
    margin-bottom: 15px;
}