.container-workout {
    color: white;
    background-color: #1a1a1a;
    min-height: 100vh;
    min-width: 100vw;
    padding: 30px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.modal-body {
    min-height: 500px;
}
.exercise-select{
    height: 400px;
}
.table {
    background-color: #333;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.card {
    background-color: #333;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    max-width: 60vw;
    margin-bottom: 20px;

}

.card-title {
    color: lightgrey;
}

.form-label, .form-control {

}

.workout-comment {
    width: 400px;
}

.workout-title {
    width: 400px;
}