.user-main-container {
    background-image: url('../images/background.png');

}

.user-profile-background {
    margin-top: 80px;
    color: white;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.user-profile-container {
    border-radius: 100px;
    padding: 20px;
    max-width: 60vw;
    text-align: center;
    margin-bottom: 20px;
}

.user-profile-container-wrapper{
    margin-top: 20px;
}

.user-profile-row {
    min-width: 100vh;
    min-height: 29vh;
}

.user-profile-header {
    margin-bottom: 20px;
    text-align: left;
}

.user-profile-picture {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 15px;
    border: 3px solid white;
}
.user-profile-picture-col {
}

.user-profile-picture-grid {

}

.name {
    font-size: 2em;
    margin-bottom: 5px;
}


.user-profile-details {
    text-align: center;
    font-size: 22px;
    min-height: 28vh;

}

.user-info {
    color: antiquewhite;
}

.about{
}

.btn-primary {
    background-color: whitesmoke;
    border-color: #333;
    color: black;
    font-weight: bold;
    letter-spacing: 0.05rem;
}

.larger-profile {
    width: 80%;
    margin: auto;
}


.user-profile-workout-cards {
    color: darkgrey;
    transition: all 0.3s ease;
}


.user-profile-workout-card-details {
    padding-top: 20px;
    color: indianred;
}
.user-profile-workout-container {
    background-color: rgb(36, 36, 36, 0.9);
    padding: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.7);
}


.user-profile-stats-details {
    color: tan;
}
.gym-stat-item {
    color: cadetblue;
    margin-top: 30px;
    margin-bottom: 30px;
}

.user-profile-stats-header{
    color: skyblue;
    margin-top: 15px;
    justify-content: center;
    display: flex;
}
.user-profile-workout-list {

}
.user-workout-history-title{
    color: antiquewhite;
    margin-top: 20px;
    margin-bottom: 20px;
}

.user-workout-details-exercise {
    color: #12a300;
    font-size: 20px;
    padding-top: 20px;
    padding-bottom: 10px;
}

.user-workout-details-exercise-sets {
    color: darkgrey;
    margin-top: 20px;
    font-size: 17px;
    padding-top: 5px;
}



.comment-label {
    text-align: center;
    margin-bottom: 0;
    color: yellowgreen;
    font-size: larger;

}

.centered-comment {
    text-align: center;
}
.comment {
    color: dimgrey;
    font-size: small;
}
.feedback-label {
    color: #9e603b;
    font-size: larger;
    margin-bottom: 0;
    text-align: center;
}